

body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.login-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.login-container {
    background: #f0f8ff;
    padding: 2rem;
    border: 2px solid #a3c9f1;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    max-width: 350px;
    width: 100%;
    text-align: left;
}
.login-container h2 {
    margin-bottom: 1rem;
    color: #444;
    font-family: 'Georgia', serif;
}
.login-container form {
    display: grid;
    gap: 1rem;
}
.login-container form input {
    padding: 0.5rem;
    border: 2px solid #bbb;
    border-radius: 8px;
    font-size: 0.9rem;
}
.login-container form button {
    padding: 0.5rem;
    background: #a3c9f1;
    border: 2px solid #d4e4f7;
    border-radius: 8px;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}
.login-container form button:hover {
    background: #d4e4f7;
    transform: scale(1.05);
}